.color.grey100 {
    background-color: #F5F5F5;
    color: rgba(0,0,0,.87);
}

.color.grey300 {
    background-color: #E0E0E0;
    color: rgba(0,0,0,.87);
}

.color.teal,
.color.teal500 {
    background-color: #009688;
    color: #fff;
}
