.theme-blue {
    color: #212121;
    background-color: #F5F5F5;
}

.theme-dark {
    color: #fff;
    background-color: #333333;
}

.theme-white {
    color: #212121;
    background-color: #F5F5F5;
}

.theme-teal .color-primary {
    background-color: #009688;
    color: #fff;
}

.theme-teal .text-color-primary {
    color: #212121;
}

.theme-green .color-primary {
    background-color: #4CAF50;
    color: #fff;
}

.theme-green .text-color-primary {
    color: #212121;
}

.theme-blue .color-primary {
    background-color: #2196F3;
    color: #fff;
}

.theme-blue .text-color-primary {
    color: #2196F3;
}

.theme-blue.theme-dark .color-primary {
    background-color: #2196F3;
    color: #fff;
}

.theme-blue.theme-dark .text-color-primary {
    color: #2196F3;
}

.color-grey100 {
    background-color: #F5F5F5;
    color: rgba(0,0,0,.87);
}

.color-grey300 {
    background-color: #E0E0E0;
    color: rgba(0,0,0,.87);
}

.color-teal,
.color-teal500 {
    background-color: #009688;
    color: #fff;
}

.color-light-greenA400 {
    background-color: #76FF03;
    color: rgba(0,0,0,.87);
}

.color-light-greenA700 {
    background-color: #64DD17;
    color: rgba(0,0,0,.87);
}

.color-blue400 {
    background-color: #42A5F5;
    color: rgba(0,0,0,.87);
}

.color-grey900 {
    background-color: #212121;
    color:  #fff;
}

.color-white {
    background-color: #fff;
    color:  #212121 !important;
}
