.mi-ripple-container {
    position: absolute;
    top: 0;
    left: 0;
}

.mi-ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.67);
    width: 0;
    height: 0;
}
