.mi-ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mi-ripple-wave {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(33, 33, 33, 0.1);
    width: 0;
    height: 0;
    z-index: 0;
    transform: scale(0);
}

.mi-ripple-container.white .mi-ripple-wave,
.theme-dark .mi-ripple-container .mi-ripple-wave {
    background-color: rgba(255, 255, 255, 0.1);
}

.mi-ripple-container.dark .mi-ripple-wave,
.mi-ripple-container .mi-ripple-wave {
    background-color: rgba(33, 33, 33, 0.1);
}
