.mi-side-nav {
    position: fixed;
    left: -340px;
    bottom: 0;
    z-index: 1;
    top: 0;
    width: 320px;
    background-color: #fff;

    transition: left 200ms ease-in-out,
    width 200ms ease-in-out;
}

.theme-dark .mi-side-nav {
    background-color: #212121;
}

@media (max-width: 600px) {
    .mi-side-nav {
        left: -300px;
        width: 280px;
    }
}

body.nav-open .mi-side-nav {
    left: 0;
}

.mi-side-nav:before {
    content: "";
    position: absolute;
    /*box-shadow: !*Elevation 3*! 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    border-right: 1px solid #ededed;
    top: -10px;
    bottom: -10px;
    right: 0;
    width: 100%;

    transition: box-shadow 200ms ease-in-out;
}

.theme-dark .mi-side-nav:before {
    border-right: 1px solid #2d2d2d;
}

.mi-side-nav header {
    height: 63px;
    border-bottom: 1px solid #ededed;
    position: relative;

    transition: height 200ms ease-in-out;
}

.theme-dark .mi-side-nav header {
    border-bottom: 1px solid #2d2d2d;
}

.mi-side-nav header:before {
    content: "";
    position: absolute;
    /*box-shadow: !*Elevation 3*! 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;

    transition: box-shadow 200ms ease-in-out;
}

.theme-dark .mi-side-nav header:before {
    border-right: 1px solid #424242;
}

@media (max-width: 600px) {
    .mi-side-nav header {
        height: 55px;
    }
}


.mi-close-nav-button {
    position: relative;
    border: none;
    height: 40px;
    width: 40px;
    margin: 12px 16px 12px 12px;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    min-width: 0;
    float: right;

    color: #757575;

    transition: margin 200ms ease-in-out,
    box-shadow 200ms ease-in-out,
    background-color 200ms ease-in-out;
}

@media (max-width: 600px) {
    .mi-close-nav-button {
        margin: 8px 8px 8px 12px;
    }
}

body.nav-open {
    margin-left: 328px;
}

@media (max-width: 600px) {
    body.nav-open {
        margin-left: 8px;
    }
}

.mi-side-nav .user {
    display: inline-block;
}

.mi-side-nav .user-photo {
    background-position: center;
    background-size: cover;

    margin: 15px 0 0 20px;

    min-width: 0;
    padding: 4px;
    line-height: normal;
    width: 34px;
    height: 34px;
    border-radius: 17px;

    background-color: #BDBDBD !important;
    color: #fff;

    transition: margin 200ms ease-in-out;
}
@media (max-width: 600px) {
    .mi-side-nav .user-photo {
        margin: 11px 0 0 11px;
    }
}

.mi-side-nav .user-photo:hover,
.theme-dark .mi-side-nav .user-photo:hover {
    background-color: #BDBDBD;
}

.mi-side-nav .user-name {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;

    transition: margin-top 200ms ease-in-out;
}
@media (max-width: 600px) {
    .mi-side-nav .user-name {
        margin-top: 20px;
    }
}

.mi-side-nav .user-arrow {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    color: #BDBDBD;
    min-width: 0;
    padding: 0;
    border-radius: 12px;
    height: 24px;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;

    transition: margin-top 200ms ease-in-out;
}
@media (max-width: 600px) {
    .mi-side-nav .user-arrow {
        margin-top: 15px;
    }
}

.mi-side-nav .list {
    padding: 8px 0;
}

.mi-side-nav .list-item {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    position: relative;
    margin-right: 1px;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;

    font-weight: 500;

    color: rgba(0, 0, 0, 0.8);
}

.theme-dark .mi-side-nav .list-item {
    background-color: #212121;
    color: rgba(255, 255, 255, 0.8);
}

.mi-side-nav .list-item .icon {
    width: 72px;
    display: inline-block;
    padding-left: 16px;
    box-sizing: border-box;
}
.mi-side-nav .list-item:not(.text-color-primary) .icon {
    color: rgba(0, 0, 0, 0.54);
}
.theme-dark .mi-side-nav .list-item:not(.text-color-primary) .icon {
    color: rgba(255, 255, 255, 0.54);
}

.mi-side-nav .list-item .icon i {
    vertical-align: middle;
}

.mi-side-nav .divisor {
    height: 8px;
    border-bottom: 1px solid #ededed;
}

.theme-dark .mi-side-nav .divisor {
    border-bottom: 1px solid #2d2d2d;
}

.mi-side-nav .divisor.without-subheader {
    margin-bottom: 8px;
}
