.mi-header {
    position: fixed;
    left: 0;
    height: 64px;
    right: 0;
    z-index: 1;
    top: 0;
    background-color: #f5f5f5;

    transition: background-color 200ms ease-in-out,
    height 200ms ease-in-out,
    transform 300ms;
}

@media (max-width: 600px) {
    .mi-header {
        height: 56px;
    }
}

.mi-header:before {
    content: "";
    position: absolute;
    box-shadow: transparent;
    bottom: 0;
    left: -10px;
    right: -10px;
    height: 100%;

    transition: box-shadow 200ms ease-in-out;
}

.mi-header.scrolled {
    /*background-color: #fff;*/
}

.mi-header.scrolled:before {
    box-shadow: /*Elevation 2*/ 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

body.with-header {
    margin-top: 72px;
}

@media (max-width: 600px) {
    body.with-header {
        margin-top: 64px;
    }
}

.mi-nav-button {
    position: relative;
    border: none;
    height: 40px;
    width: 40px;
    margin: 12px 12px 12px 16px;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    float: left;
    min-width: 0;

    transition: margin 200ms ease-in-out,
    box-shadow 200ms ease-in-out,
    background-color 200ms ease-in-out;
}

@media (max-width: 600px) {
    .mi-nav-button {
        margin: 8px 8px 8px 12px;
    }
}

.mi-header .logo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 40px;
    display: block;
    float: left;
    margin: 0 12px 12px 6px;

    transition: margin 200ms ease-in-out,
    width 200ms ease-in-out;
}

@media (max-width: 600px) {
    .mi-header .logo {
        margin: 0 8px 8px 2px;
        width: 32px;
    }
}
