.mi-button {
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    font-size: 14px;
    padding: 0 16px;
    text-transform: uppercase;
    min-width: 88px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    border: none;
    background-color: transparent;

    transition-property: box-shadow, background-color;
    transition-duration: 200ms;
}

@media (max-width: 600px) {
    .mi-button:before {
        content: "";
        position: absolute;
        left: -6px;
        top: -6px;
        bottom: -6px;
        right: -6px;
    }
}

.mi-button.flat:hover {
    background-color: rgba(153, 153, 153, 0.05);
}

.mi-button.flat:focus {
    background-color: rgba(153, 153, 153, 0.12);
}

.mi-button.flat:active {
    background-color: rgba(153, 153, 153, 0.4);
}

.mi-button.flat[disabled] {
    cursor: default;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.26);
}

.mi-button.raised {
    background-color: #BDBDBD;
    box-shadow: /*Sem shade over*/ inset 0 36px 0 rgba(0, 0, 0, 0),
        /*Tint*/ inset 0 1px 0 rgba(255, 255, 255, 0.1),
        /*Shade*/ inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.mi-button.raised:hover {
    box-shadow: /*Sem shade over*/ inset 0 36px 0 rgba(0, 0, 0, 0),
        /*Tint*/ inset 0 1px 0 rgba(255, 255, 255, 0.1),
        /*Shade*/ inset 0 -1px 0 rgba(0, 0, 0, 0.1),
        /*Elevation 1*/ 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mi-button.raised:focus {
    box-shadow: /*Com shade over*/ inset 0 36px 0 rgba(0, 0, 0, 0.12),
        /*Tint*/ inset 0 1px 0 rgba(255, 255, 255, 0.1),
        /*Shade*/ inset 0 -1px 0 rgba(0, 0, 0, 0.1),
        /*Elevation 2*/ 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.mi-button.raised:active {
    box-shadow: /*Sem shade over*/ inset 0 36px 0 rgba(0, 0, 0, 0),
        /*Tint*/ inset 0 1px 0 rgba(255, 255, 255, 0.1),
        /*Shade*/ inset 0 -1px 0 rgba(0, 0, 0, 0.1),
        /*Elevation 3*/ 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 600px) {
    .mi-button.raised {
        box-shadow: /*Sem shade over*/ inset 0 36px 0 rgba(0, 0, 0, 0),
            /*Tint*/ inset 0 1px 0 rgba(255, 255, 255, 0.1),
            /*Shade*/ inset 0 -1px 0 rgba(0, 0, 0, 0.1),
            /*Elevation 1*/ 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
}

.mi-button.raised[disabled] {
    cursor: default;
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}
