<div class="mi-card" style="width: 400px; height: 200px;">
    {{teste}}
    {{testeC}}
    {{testeB}}
    <span ng-bind="ewae"></span>
</div>
<br><br>
<button class="mi-button flat" tabindex="0" id="changeTheme">Flat Normal</button>
<br><br>
<div class="mi-card" style="width: 400px; height: 200px;">
    <div class="form">
        <form id="form-login" action="">
            <div class="mi-input">
                <textarea name="email" id="" cols="30" rows="10"></textarea>
                <!--<input name="email" type="email" required autocomplete="on">-->
                <label>E-mail</label>
                <div class="messages">
                    <div class="regex">E-mail está inválido</div>
                    <div class="required">E-mail é obrigatório</div>
                    <div class="error"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<br><br>
<button class="mi-button flat" tabindex="0" disabled>Flat Disabled</button>
<br><br>
<button class="mi-button raised" tabindex="0">Raised Default</button>
<br><br>
<button class="mi-button raised color-primary" tabindex="0">Raised Teal</button>
<br><br>
<button class="mi-button raised" tabindex="0" disabled>Raised Disabled</button>
<br><br>
<button class="mi-floating-button" tabindex="0">
    <i class="material-icons">add</i>
</button>
<br><br>
<button class="mi-floating-button color-primary" tabindex="0">
    <i class="material-icons">add</i>
</button>
<br><br>
<button class="mi-floating-button" tabindex="0" disabled>
    <i class="material-icons">add</i>
</button>
<br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
