* {
    font-family: 'Roboto', sans-serif;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

body {
    transition: margin 200ms ease-in-out,
    opacity 200ms ease-in-out;
}

body.loading {
    opacity: 0;
}
